<div class="page4 flex flex-col items-center justify-center">
  <img src="assets/images/photo-4.png" class="w-48">
  <div class="flex flex-col items-center text-center flex-1 gap-5 mt-6">
    <h1 class="font-bold text-2xl">Pedido Fácil</h1>
    <p class="font-normal">Lorem ipsum dolor sit amet consectetur adipisicing elit. Totam ratione?</p>
  </div>
  <ul class="flex gap-3 flex-1 mt-5">
    <li class="w-4 h-4 rounded-full"></li>
    <li class="w-4 h-4 rounded-full"></li>
    <li class="w-4 h-4 rounded-full"></li>
    <li class="w-4 h-4 rounded-full active"></li>
  </ul>
</div>
