#food-item {
  @apply h-full rounded-2xl flex flex-col items-center justify-center gap-7 shadow-md bg-palette-primary;
  border-top-left-radius: 25%;
  border-top-right-radius: 25%;
  width: 150px;

  .food-item-image {
    border-radius: 50%;
    height: 160px;
    width: 160px;
    background-color: white;
    margin: -20px -30px;
    @apply z-10 flex justify-center items-center;
    border-bottom: 0.1rem solid white;
  }

  img {
    border-radius: 50%;
    @apply object-cover h-full w-full;

  }

  .food-item-info {
    @apply flex-1 flex flex-col gap-2 justify-center items-center;

    h1 {
      @apply font-bold text-center text-xl text-white;
    }
  }


}
