<ion-header class="ion-no-border" [translucent]="true">
  <ion-toolbar>
    <div class="h-[14vh] bg-background bg-cover bg-brand-primary bg-opacity-50 px-3 pt-5">
      <div class="flex justify-between items-center">
        <span>
          <ion-back-button defaultHref="/tabs/home"></ion-back-button>
        </span>
        <ion-fab horizontal="end">
          <ion-fab-button class="w-[48px] h-[48px]">
            <img src="assets/icons/heart-black.svg"/>
          </ion-fab-button>
        </ion-fab>
      </div>
    </div>
    <div class="outer pt-20 relative bg-background bg-brand-primary bg-opacity-50 bg-cover">
      <div class="inner flex flex-col gap-2 items-center bg-white pb-6">
        <img src="assets/images/burguer-cart.png" class="w-[200px] absolute z-10 top-0">
        <div class="flex flex-col gap-3 pt-20 w-full items-center">
          <h1 class="text-xl font-semibold">X-Gabriel</h1>
          <ul class="flex gap-3 flex-1">
            <li class="flex items-center gap-2 font-semibold text-sm">
              <img src="assets/icons/clock.svg">
              50 min
            </li>
            <li class="flex items-center gap-2 font-semibold text-sm">
              <img src="assets/icons/star.svg">
              5.0
            </li>
            <li class="flex items-center gap-2 font-semibold text-sm">
              <img src="assets/icons/calories.svg">
              999 cal
            </li>
          </ul>
        </div>
        <h2 class="mt-5 font-bold text-xl">R$ 0,50</h2>
      </div>
      <div class="bg-white ps-3">
        <h3 class="text-[17px] font-semibold">Adicionais</h3>
      </div>
    </div>
  </ion-toolbar>
</ion-header>

<ion-content>
  <section class="relative">
      <div class="inner flex flex-col gap-2 items-center bg-white pb-6">
        <!-- Adicionais -->
        <div class="w-full px-3 mt-5 flex flex-col gap-3">
          <ul class="plus flex flex-col gap-5">
            <li class="flex justify-between items-center relative">
              <span class="text-base">Ketchup</span>
              <div class="flex gap-1 items-center bg-brand-primary rounded-3xl w-[100px] py-1">
                <button class="flex-1 flex items-center justify-center">
                  <ion-icon name="remove-outline" class="text-black"></ion-icon>
                </button>
                <span class="text-sm rounded-full  flex items-center justify-center font-medium bg-white min-w-[20px] min-h-[20px]">1</span>
                <button class="flex-1 flex items-center justify-center">
                  <ion-icon name="add-outline" class="text-black"></ion-icon>
                </button>
              </div>
            </li>
            <li class="flex justify-between items-center relative">
              <span class="text-base">Ketchup</span>
              <div class="flex gap-1 items-center bg-brand-primary rounded-3xl w-[100px] py-1">
                <button class="flex-1 flex items-center justify-center">
                  <ion-icon name="remove-outline" class="text-black"></ion-icon>
                </button>
                <span class="text-sm rounded-full  flex items-center justify-center font-medium bg-white min-w-[20px] min-h-[20px]">1</span>
                <button class="flex-1 flex items-center justify-center">
                  <ion-icon name="add-outline" class="text-black"></ion-icon>
                </button>
              </div>
            </li>
            <li class="flex justify-between items-center relative">
              <span class="text-base">Ketchup</span>
              <div class="flex gap-1 items-center bg-brand-primary rounded-3xl w-[100px] py-1">
                <button class="flex-1 flex items-center justify-center">
                  <ion-icon name="remove-outline" class="text-black"></ion-icon>
                </button>
                <span class="text-sm rounded-full  flex items-center justify-center font-medium bg-white min-w-[20px] min-h-[20px]">1</span>
                <button class="flex-1 flex items-center justify-center">
                  <ion-icon name="add-outline" class="text-black"></ion-icon>
                </button>
              </div>
            </li>
          </ul>
        </div>
        <!-- Frequentes -->
        <div class="w-full px-3 mt-5 flex flex-col gap-3">
          <h3 class="text-[17px] font-semibold">Comprar junto com</h3>
          <ul>
            <li class="flex justify-between items-center">
              <div class="flex flex-col">
                <span class="font-semibold text-base">Batata Frita</span>
                <span class="text-sm">R$ 5,99</span>
              </div>
              <div>
                <img src="assets/images/batata-frita.png">
              </div>
            </li>
          </ul>
        </div>
       <div class="w-full px-3">
          <ion-button class="add w-full">
            <span class="normal-case text-base font-semibold">Adicionar 1 no carrinho</span>
          </ion-button>
       </div>
    </div>
  </section>
</ion-content>
