<div class="password-updated flex flex-col h-full">
  <div class="w-full flex flex-col items-center gap-3 flex-1">
     <div class="shield-icon flex items-center justify-center rounded-full">
       <img src="assets/icons/shield.svg" class="w-7">
     </div>
     <h1 class="text-2xl font-bold mt-3">Senha atualizada</h1>
     <p class="text-center text-sm mt-3">Parabéns! sua senha foi <br/> atualizada</div>
   <div class="mb-20">
     <ion-button class="w-full h-12 font-bold normal-case text-base" routerLink="/account/sign-in">
       Continuar
     </ion-button>
  </div>
 </div>
