ion-header {

  ion-toolbar {
    --border-width: 0;
    --border-color: transparent;

    ion-item {
      --background: transparent;
    }
  }
}

ion-searchbar {
  --box-shadow: none;
  --border-radius: 1rem;
}
