<div class="reset-password flex flex-col gap-3 h-full">
  <div class="flex flex-col gap-3 flex-1">
     <h1 class="text-2xl font-semibold">Resetar usa senha</h1>
     <p class="text-sm">Entre com sua senha abaixo</p>
     <ion-input class="mt-5" type="password" placeholder="Senha" fill="outline"></ion-input>
     <ion-input class="mt-3" type="password" placeholder="Senha de Confirmação" fill="outline"></ion-input>
  </div>
  <div class="mb-20">
     <ion-button class="w-full h-12 font-bold normal-case text-base">
       Resetar senha
   </ion-button>
  </div>
 </div>
