<div id="login" class="flex flex-col gap-4">
  <ion-item [counter]="true" class="h-20">
    <ion-label position="floating">Email</ion-label>
    <ion-input/>
  </ion-item>
  <ion-item [counter]="true">
    <ion-label position="floating" class="text-base">Senha</ion-label>
    <ion-input type="password"/>
  </ion-item>
  <span class="text-palette-primary cursor: pointer; hover:underline">Esqueceu a senha?</span>
  <ion-button class="absolute bottom-20 left-1/2 -translate-x-1/2 w-80 text-white" size="large" shape="round">
    Login
  </ion-button>
</div>
