<ion-tabs id="main-content">
  <ion-tab-bar slot="bottom">
      <ion-tab-button tab="home" #home>
        <div class="flex flex-col items-center gap-2">
          <img src="assets/icons/home.svg" class="w-7">
          <span class="h-2 w-2 rounded-full {{ home.selected ? 'active' : ''}}"></span>
        </div>
      </ion-tab-button>
      <ion-tab-button tab="search" #search>
        <div class="flex flex-col items-center gap-2">
          <img src="assets/icons/search.svg" class="w-7">
          <span class="h-2 w-2 rounded-full {{ search.selected ? 'active' : ''}}"></span>
        </div>
      </ion-tab-button>

      <ion-fab>
        <ion-fab-button routerLink="/tabs/bag">
          <div>
            <img src="assets/icons/bag.svg" class="w-6">
          </div>
        </ion-fab-button>
      </ion-fab>

      <ion-tab-button tab="favorites" #favorite>
        <div class="flex flex-col items-center gap-2">
          <img src="assets/icons/favorite.svg" class="w-7">
          <span class="h-2 w-2 rounded-full {{ favorite.selected ? 'active' : ''}}"></span>
        </div>
      </ion-tab-button>
      <ion-tab-button #account (click)="openMenu(menu)">
        <div class="flex flex-col items-center gap-2">
          <img src="assets/icons/account.svg" class="w-7">
          <span class="h-2 w-2 rounded-full {{ account.selected ? 'active' : ''}}"></span>
        </div>
      </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>


<ion-menu contentId="main-content" #menu>
  <ion-header class="ion-no-border">
    <ion-toolbar color="primary">
     <div class="py-4 flex flex-col items-center gap-3">
        <div class="img w-[100px] h-[100px] rounded-full bg-white"></div>
        <ion-text class="text-sm font-normal">Gabriel Cardoso</ion-text>
     </div>
    </ion-toolbar>
  </ion-header>
  <ion-content>

    <ion-list lines="none" class="px-3">
      <ion-item button>
        <div class="flex items-center w-full">
          <img slot="start" src="assets/icons/person.svg" class="absolute left-0">
          <span class="font-medium text-sm ms-10">Visualizar perfil</span>
        </div>
      </ion-item>

      <ion-item button>
        <div class="flex items-center w-full">
          <img slot="start" src="assets/icons/voucher.svg" class="absolute left-0">
          <span class="font-medium text-sm ms-10">Cupons/Ofertas</span>
        </div>
      </ion-item>

      <ion-item button>
        <div class="flex items-center w-full">
          <img slot="start" src="assets/icons/address.svg" class="absolute left-0">
          <span class="font-medium text-sm ms-10">Endereços</span>
        </div>
      </ion-item>

      <ion-item button>
        <div class="flex items-center w-full">
          <img slot="start" src="assets/icons/order.svg" class="absolute left-0">
          <span class="font-medium text-sm ms-10">Pedidos</span>
        </div>
      </ion-item>

      <ion-item button>
        <div class="flex items-center w-full">
          <img slot="start" src="assets/icons/helper.svg" class="absolute left-0">
          <span class="font-medium text-sm ms-10">Ajuda</span>
        </div>
      </ion-item>

      <ion-item button>
        <div class="flex items-center w-full">
          <img slot="start" src="assets/icons/gift.svg" class="absolute left-0">
          <span class="font-medium text-sm ms-10">Convidar</span>
        </div>
      </ion-item>
    </ion-list>

    <div class="h-1 w-full border-t border-gray-300 border-opacity-60"></div>

    <ion-list lines="none" class="px-3">
      <ion-item button>
        <span class="text-sm font-medium">Configurações</span>
      </ion-item>
      <ion-item button>
        <span class="text-sm font-medium">Termos e Condições</span>
      </ion-item>
      <ion-item button>
        <span class="text-sm font-medium">Sair</span>
      </ion-item>
    </ion-list>

  </ion-content>
</ion-menu>


