<ion-tabs>
  <ion-tab-bar slot="bottom">
      <ion-tab-button tab="home">
        <div>
          <img src="assets/icons/home.svg" class="w-7">
        </div>
      </ion-tab-button>
      <ion-tab-button tab="search">
        <div>
          <img src="assets/icons/search.svg" class="w-7">
        </div>
      </ion-tab-button>

      <ion-fab>
        <ion-fab-button routerLink="/tabs/bag" class="bag-tab">
          <div>
            <img src="assets/icons/bag.svg" class="w-6">
          </div>
        </ion-fab-button>
      </ion-fab>

      <ion-tab-button tab="favorite">
        <div>
          <img src="assets/icons/favorite.svg" class="w-7">
        </div>
      </ion-tab-button>
      <ion-tab-button tab="account">
        <div>
          <img src="assets/icons/account.svg" class="w-7">
        </div>
      </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
