.first-toolbar {
  --padding-top: 1rem;
}

ion-content {
  --padding-bottom: 1rem;
}

ion-toolbar {
  .search {
    background-color: #fff;
    border-radius: 1.5rem;
    @apply border border-black border-opacity-60;
  }
}


.highlight-button {
  --background: linear-gradient(to top, #FBDE3F, #fbdf3f85);
}

ion-segment {
  width: 50px;
  border-radius: 1rem;
  @apply px-3;
}

ion-segment-button:first-of-type {
  --border-radius: 2rem;
}
