.first-toolbar {
  --padding-top: 1rem;
}

ion-toolbar {
  --background: #fdfdfd;
  .search {
    background-color: rgba(229, 229, 229, 0.46);
    border-radius: 1.5rem;
  }
}

ion-content {
  --background: #fdfdfd;
}
