<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-buttons class="relative top-5 left-2">
      <ion-back-button defaultHref="/tabs/home"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
  <ion-toolbar>
    <div class="text-center font-semibold text-xl pb-2">
      <ion-text>Ofertas</ion-text>
    </div>
    <div class="px-2 mt-3 pb-3">
      <div class="search flex gap-2 px-4 items-center overflow-hidden">
        <img src="assets/icons/search.svg" class="h-5"/>
        <input type="search" placeholder="Pesquisar" class="placeholder:text-black placeholder:text-opacity-70 border-none bg-transparent outline-none h-11 flex-1 text-sm">
      </div>
    </div>
  </ion-toolbar>

</ion-header>

<ion-content>
  <div class="px-2 pb-2">
    <ion-list>
      <app-offers mode="grid"/>
    </ion-list>
  </div>
</ion-content>
