:host {
  flex: 1;

  li {

    & > div {
      width: 80px;
      height: 65px;
      // background: linear-gradient(to top, #eeeeee3a, #dddddd51);
      background: linear-gradient(to top, #FBDE3F, #fbdf3f51);
    }
  }
}
