.sign-in {
  padding-top: 3rem;
  padding-bottom: 1rem;
  h1 {
    background: linear-gradient(to right, #ff9900, #FFE033);
    background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  ion-input {
    --border-color: #333;
    --border-radius: 1rem;
  }

  ion-button {
    --border-radius: 1rem;
  }

}
