<div class="sign-in flex flex-col pt-4 items-center gap-3" [@fadeIn]>
  <div class="flex flex-col gap-3 items-center">
    <img src="assets/icons/pan.svg" class="w-32 relative left-4">
    <h1 class="font-bold uppercase">GL Delivery</h1>
  </div>
  <div class="w-full flex flex-col gap-4 mt-3">
   <ion-input type="email" placeholder="E-mail" fill="outline"></ion-input>
   <ion-input type="password" placeholder="Senha" fill="outline"></ion-input>
    <a class="ms-auto hover:underline cursor-pointer" routerLink="/account/forgot-password/send-email">Esqueceu a senha?</a>
  </div>
  <ion-button class="w-full h-12 font-bold text-base normal-case" routerLink="/tabs/home">
    Login
  </ion-button>
  <app-account-options class="mt-2"></app-account-options>
</div>
