<li class="px-3 flex flex-col gap-3">
  <div class="relative">
    <img src="assets/images/burguer-2.png" class="w-full object-cover">
    <ion-button class="absolute top-0 right-0 " fill="clear">
      <img src="assets/icons/heart_outline.svg" class="relative left-1">
    </ion-button>
    <span class="absolute left-0 ps-2 font-medium top-0 mt-3 p-[0.1rem] pr-2 rounded-r-full bg-brand-primary text-xs">
      Item grátis (Gaste 10$)
    </span>
  </div>
  <div class="flex flex-col">
    <span>
      <h1 class="text-sm font-medium">Burguer (Melhor Oferta)</h1>
    </span>
    <div class="flex justify-between">
      <p class="opacity-90 text-[0.6rem]">$5,00 - Envio grátis, entre 15-30 min</p>
      <span class="average p-[0.4rem] rounded-full relative bottom-4 text-[0.65rem]">4.5</span>
    </div>
  </div>
</li>
