<swiper-container [slidesPerView]="4" freeMode>
  <swiper-slide>
    <div class="flex flex-col gap-2 items-center">
      <ion-button color="secondary">
        <ion-icon slot="icon-only" name="fast-food" class="text-white"></ion-icon>
      </ion-button>
      <ion-label class="text-sm opacity-90">Categoria</ion-label>
    </div>
  </swiper-slide>
  <swiper-slide>
    <div class="flex flex-col gap-2 items-center">
      <ion-button color="secondary">
        <ion-icon slot="icon-only" name="fast-food" class="text-white"></ion-icon>
      </ion-button>
      <ion-label class="text-sm opacity-90">Categoria</ion-label>
    </div>
  </swiper-slide>
  <swiper-slide>
    <div class="flex flex-col gap-2 items-center">
      <ion-button color="secondary">
        <ion-icon slot="icon-only" name="fast-food" class="text-white"></ion-icon>
      </ion-button>
      <ion-label class="text-sm opacity-90">Categoria</ion-label>
    </div>
  </swiper-slide>
  <swiper-slide>
    <div class="flex flex-col gap-2 items-center">
      <ion-button color="secondary">
        <ion-icon slot="icon-only" name="fast-food" class="text-white"></ion-icon>
      </ion-button>
      <ion-label class="text-sm opacity-90">Categoria</ion-label>
    </div>
  </swiper-slide>
  <swiper-slide>
    <div class="flex flex-col gap-2 items-center">
      <ion-button color="secondary">
        <ion-icon slot="icon-only" name="fast-food" class="text-white"></ion-icon>
      </ion-button>
      <ion-label class="text-sm opacity-90">Categoria</ion-label>
    </div>
  </swiper-slide>
  <swiper-slide>
    <div class="flex flex-col gap-2 items-center">
      <ion-button color="secondary">
        <ion-icon slot="icon-only" name="fast-food" class="text-white"></ion-icon>
      </ion-button>
      <ion-label class="text-sm opacity-90">Categoria</ion-label>
    </div>
  </swiper-slide>

</swiper-container>
