<div class="account-options flex flex-col gap-3">
  <div class="w-full flex gap-3 items-center">
    <div class="line bg-black flex-1 bg-opacity-50"></div>
    <span class="font-semibold text-sm uppercase">ou</span>
    <div class="line bg-black flex-1 bg-opacity-50"></div>
  </div>
  <div class="flex flex-col gap-3">
    <ion-button fill="none" class="h-12">
        <div class="flex justify-evenly items-center gap-3">
          <img slot="start" src="assets/icons/google.svg" alt="Google"/>

          @if (isRegister()) {
            <span class="normal-case">Cadastrar com o Google</span>
          } @else {
            <span class="normal-case">Logar com Google</span>
          }

        </div>
    </ion-button>
    <ion-button fill="none" class="h-12">
      <div class="flex justify-evenly items-center gap-3 ms-4">
        <img src="assets/icons/facebook.svg" alt="Facebook"/>

        @if (isRegister()) {
          <span class="normal-case">Cadastrar com o Facebook</span>
        } @else {
          <span class="normal-case">Logar com Facebook</span>
        }
      </div>
    </ion-button>
  </div>
  @if (isRegister()) {
    <p class="text-sm text-center mt-3">Já tem uma conta? <a class="font-bold hover:underline cursor-pointer" routerLink="/account/sign-in">Entrar</a></p>
  } @else {
    <p class="text-sm text-center mt-3">Não tem uma conta? <a class="font-bold hover:underline cursor-pointer" routerLink="/account/register">Registre-se</a></p>
  }
</div>
